/* IMPORT FONTS */
@font-face {
  font-family: "Raleway";
  src: url("../fonts/raleway/Raleway-Regular.ttf") format("truetype");
  font-weight: 400;
}

@font-face {
  font-family: "Raleway";
  src: url("../fonts/raleway/Raleway-Bold.ttf") format("truetype");
  font-weight: 700;
}
/* Google Font Lato pour les titres */
h1,
h2,
h3,
h4 {
  font-family: "Lato", sans-serif;
}
/* Raleway pour le contenu */
body,
p,
li,
td,
th {
  font-family: "Raleway", sans-serif;
}
body {
  margin: 0;
  padding: 0;
  background-color: #f3f3f3;
}

/* Conteneur centré du CV */
.cv-wrapper {
  width: 1160px;
  margin: 0 auto;
  background-color: white;
  padding: 0;
}
/* HEADER turquoise */
.main-header {
  background-color: #17abb3;
  color: white;
  padding: 40px;
  display: flex;
  align-items: center;
  gap: 40px;
}

/* PHOTO À GAUCHE */
.header-left {
  flex-shrink: 0;
}

/* PHOTO RONDE + ZOOM */
.profile-pic {
  width: 160px;
  height: 160px;
  object-fit: cover;
  border-radius: 50%;
  border: 5px solid white;
  transition: transform 0.3s ease;
  cursor: zoom-in;
}

.profile-pic:hover {
  transform: scale(1.1);
}

/* TEXTE À DROITE */
.header-right {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 0;
  color: white;
  text-align: center;
}

/* CONTACT AVEC ICÔNES */
.contact-icons {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-items: center;
}

.contact-icons p {
  display: flex;
  align-items: center;
  gap: 8px;
  color: white;
  font-size: 16px;
  margin: 0;
}

.icon {
  font-size: 20px;
}
